<app-header titulo="restaurantes"></app-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/yoishi.jpeg" alt="Restaurante Yoishi"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Restaurante Yoishi
      </ion-card-title>
      <ion-card-subtitle>Av. Antonio Hurtado, 10, 10002 Cáceres</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <ion-button fill="clear">Ir</ion-button>
    <ion-button fill="clear">Reservar</ion-button>
    <ion-icon
      slot="icon-only"
      name="heart"
      class="heart"
    ></ion-icon>
  </ion-card>
</ion-content>
